<%= form_for(@order_confirmation) do |f| %>
  <% if @order_confirmation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order_confirmation.errors.count, "error") %> prohibited this order_confirmation from being saved:</h2>

      <ul>
      <% @order_confirmation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
