/* Global styles */

#store #notice {
        color: #000;
        border: 2px solid red;
        padding: 1em;
        margin-bottom: 2em;
        background-color: #f0f0f0;
        font: bold smaller sans-serif;
}
#store h1 {
        font:  150% sans-serif;
        color: #226;
        border-bottom: 3px dotted #77d;
}

/* Styles for Welcome Page==============Danny================= */
#header {
    overflow: auto;
}
.welcome-title img {
    width: 788px;
    height: 174px;
    margin:  0 auto;
    display: block;
}
.social-media-links {
    width: 250px;
    float: left;
}
.site-login {
    width: 250px;
    float:right;
}
.welcome-tagline h2 {
    margin: 10px auto;
    text-align: center;
}
.welcome-navigation ul {
    list-style: none;
    margin:  20px 0;
    text-align: center;
}
.welcome-navigation ul li {
    display: inline;
    margin: 0 30px;
}
.welcome-navigation ul li a {

}
.welcome-tshirts {
    width: 737px;
    margin:  0 auto;
}
.welcome-tshirts img {
    margin:  10px;
}
.welcome-statement p {
    text-align: center;
}
.welcome-focus-logo {
    width: 100px;
    float: right;
}
/* ====================End Danny styles========================>
/* Styles for products/index */

#product_list table {
        border-collapse: collapse;
}

#product_list table tr td {
        padding: 5px;
        vertical-align: top;
}

#product_list .list_image {
  width:        60px;
  height:       70px;
}

#product_list .list_description {
  width:        60%;
}

#product_list .list_description dl {
        margin: 0;
}

#product_list .list_description dt {
	color:        #244;
	font-weight:  bold;
	font-size:    larger;
}

#product_list .list_description dd {
        margin: 0;
}

#product_list .list_actions {
  font-size:    x-small;
  text-align:   right;
  padding-left: 1em;
}

#product_list .list_line_even {
  background:   #e0f8f8;
}

#product_list .list_line_odd {
  background:   #f8b0f8;
}

/* An entry in the store catalog */

#store  .entry {
  overflow: auto;
  margin-top: 1em;
  border-bottom: 1px dotted #77d;
}

#store  .title {
  font-size: 120%;
  font-family: sans-serif;
}

#store .entry img {
  width: 80px;
  margin-right: 5px;
  margin-bottom: 5px;
  float: left;
}


#store .entry h3 {
 margin-top: 0;
 margin-bottom: 2px;
 color: #227;
}

#store .entry p {
 margin-top: 0.5em;
 margin-bottom: 0.8em;
}

#store .entry .price_line {
 clear: both;
 margin-bottom: 0.5em;
}

#store .entry .add_to_cart {
  position: relative;
}

#store .entry  .price {
  color: #44a;
  font-weight: bold;
  margin-right: 2em;
}

#store .entry form, #store .entry form div{
    display: inline;
}

/* Styles for Main Page */

#banner {
    background: #989898;
    height: 108px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 10px;
    font: small-caps 40px/40px "calibri", sans-serif;
    color: #ffffff;
    text-align: center;
    clear: both;
}

#banner img {
    float: left;
}

.clear {
    clear: both;
}

#columns {
    background: #989898;
}

#main {
    margin-left: 17em;
    padding-top: 4ex;
    padding-left: 2em;
    background: #ffffff;
}

#side {
    float: left;
    padding-top: 2em;
    padding-bottom: 1em;
    padding-left: 1em;
    width: 16em;
    background: #989898;
}

#side.a {
    color: #989898;
    font-size: small;
}

/* Styles for the cart in the main page */

#store .cart_title{
    font: 120% bold;
}

#store .item_price, #store .total_line{
    text-align: right;
}

#store .total_line .total_cell{
    font-weight: bold;
    border-top: 1px solid #595;
}
