html, body, div, h1, h2, h3, h4, h5, h6, a, p, ul, li {
    margin: 0;
    padding: 0;
}
.clear {
    clear: both;
}
.page-titles{
    margin: 0 0 20px 0;
}
body {
    background: #f0f0f0;
}

.page-wrap {
    width: 980px;
    padding: 0 10px;
    margin: 0 auto;
    background: #ffffff;
    overflow: auto;
}
.social-media-links {
    width: 480px;
    float: left;
}

.site-login {
    width: 480px;
    float: right;

}

.site-login ul {
    list-style: none;
    float: right;
}

.site-login ul li {
    display: inline;
}
.header {
    overflow: auto;
}
/*============Side Nav==============*/
.side {
    float: left;
    width: 180px;
    padding: 30px 0 0 0;
}

.side-nav ul {
    list-style: none;

}

.side-nav ul li a, .side-nav ul li a:visited {
    display: block;
    font-size: small;
    text-decoration: none;
    padding: 10px 0 3px 5px;
}
.side-nav ul li a:hover, .side-nav ul li a:active {
    background-color: #c84e9d;
}
.welcome-focus-logo img {
    display: block;
    margin: 20px auto;
}
/*============Main Content==============*/
.main {
    float: left;
    width: 790px;
    padding: 5px;

}
/*============Home Page==============*/
.welcome-title img {
    width: 788px;
    height: 174px;
    margin: 0 auto;
    display: block;
}

.welcome-tagline h2 {
    text-align: center;
}

.welcome-navigation ul {
    list-style: none;
    display: block;
    text-align: center;
}

.welcome-navigation ul li {
    display: inline;
    margin: 0 30px;
}

.welcome-statement {
    background-color: #f0f0f0;
    text-align: center;
}
/*============User Show Page==============*/
.user-listings .list_line_even {
    background-color: #f0f0f0;
}

.user-listings .list_line_odd {
    background-color: #fff;
}

.user-listings .list_line_even td, .user-listings .list_line_odd td {
    padding: 10px;
}
/*============Admin Nav==============*/
.admin-nav {

}

.admin-nav ul {
    list-style: none;
}

/*
.wishlist-wrap table {
   background-color: #f0f0f0;
   width: 600px;
}

.wishlist-wrap .list_line_odd {
   background-color: #fff;
}

.wishlist-wrap .list_line_even {
   background-color: #f0f0f0;
}

.wishlist-wrap table tr td img {
   width: 100px;
}
*/
/*============Store Page==============*/
.entry {
    width: 240px;
    float: left;
    border: solid 1px #f0f0f0;
    padding: 5px;
}
#notice {
    color: #000;
    border: 2px solid red;
    padding: 1em;
    margin-bottom: 2em;
    background-color: #f0f0f0;
    font: bold smaller sans-serif;
}

.store h1 {
    font: 150% sans-serif;
    color: #226;
    border-bottom: 3px dotted #77d;
    margin:  0 0 10px 0;
}

.store .entry {
    overflow: auto;
    width: 240px;
    float: left;
    border: solid 1px #f0f0f0;
    padding: 5px;
    margin: 5px;
}

.store .title {
    font-size: 120%;
    font-family: sans-serif;
}

.store .entry img {
    width: 240px;
    margin: 0 auto 5px auto;
    float: left;
}

.store .entry h3 {
    margin-top: 0;
    margin-bottom: 2px;
    color: #227;
}

.store .entry p {
    margin-top: 0.5em;
    margin-bottom: 0.8em;
}

.store .entry .price_line {
    clear: both;
    margin-bottom: 0.5em;
}

.store .entry .add_to_cart {
    position: relative;
}

.store .entry .price {
    color: #44a;
    font-weight: bold;
    margin-right: 2em;
}

.store .entry form, #store .entry form div {
    display: inline;
}
/*============Products Page==============*/
#product_list table {
    border-collapse: collapse;
}

#product_list table tr td {
    padding: 5px;
    vertical-align: top;
}

#product_list .list_image {
    width: 60px;
    height: 70px;
}

#product_list .list_description {
    width: 60%;
}

#product_list .list_description dl {
    margin: 0;
}

#product_list .list_description dt {
    color: #244;
    font-weight: bold;
    font-size: larger;
}

#product_list .list_description dd {
}

#product_list .list_actions {
    font-size: x-small;
    text-align: right;
    padding-left: 1em;
}

#product_list .list_line_even {
    background: #e0f8f8;
}

#product_list .list_line_odd {
    background: #f8b0f8;
}



#columns {
    background: #989898;
}

/* Styles for the cart in the main page */

#store .cart_title {
    font: 120% bold;
}

#store .item_price, #store .total_line {
    text-align: right;
}

#store .total_line .total_cell {
    font-weight: bold;
    border-top: 1px solid #595;
}