<div class="middle-wrap">
  <%= render :partial => 'welcome/featured_products' %>
</div>

<div class="right-side">
  <div class="welcome-statement">
    <h4 class="partial-titles">Our Mission</h4>

    <p>This Christmas 1 in 7 people living on Ireland’s streets will be children.<br/>Buy a t-shirt, we give the money
      to Focus Ireland to help them make a difference,<br/> help us spread the word... that's it. </p>
  </div>
</div>



