<div class="welcome-tshirts">
  <%= image_tag("Welcome_Tshirt_1.jpg") %>
  <%= image_tag("Welcome_Tshirt_2.jpg") %>
  <%= image_tag("Welcome_Tshirt_3.jpg") %>
</div>

<div class="welcome-footer">

  <div class="welcome-statement">
    <p>This Christmas 1 in 7 people living on Ireland’s streets will be children.<br/>Buy a t-shirt, we give the money
      to
      Focus Ireland to help them make a difference,<br/>
      help us spread the word...<br/>thats it. </p>
  </div>
</div>