<h1 class="page-titles">Submit your photo</h1>

<p>Take a photo of yourself wearing your Street Heart tee. Your face and the tee shirt must be at least 3/4 visible in the photo. All photos must be landscape. It doesn't matter what size the photo is but after you have submitted it we will be cropping it down to 190 x 140 pixels.
</p>

<%= render 'form' %>

<%= link_to 'Return to Gallery', galleries_path %>
