<% if notice %>
    <p id="notice"><%= notice %></p>
<% end %>
<h2 class="page-titles">Your Wishlist</h2>

<div class="wishlist-wrap">
  <%= render(wishlist.wishlist_items) %>
</div><!--End wishlist-wrap-->