<div class="partial">
  <h4 class="partial-titles">Recent Products</h4>
  <% @product.each do |recent_product| %>
      <table>
        <tr>
          <td><%= image_tag (recent_product.productimage_url(:small_thumb).to_s), :class => 'list_image' %>  </td>
          <td><%= recent_product.title %></td>
          <td><%= number_to_currency(recent_product.unit_price) %></td>
        </tr>
      </table>
  <% end %>
</div><!--end recent product wrap-->