<div class="partial">
  <h4 class="partial-titles">Recent Products</h4>
  <% @review.each do |recent_review| %>
      <table>
        <tr>
          <td><%= recent_review.body %></td>
        </tr>
      </table>
  <% end %>
</div><!--end recent product wrap-->