<div class="review-wrap  <%= cycle('list_line_odd', 'list_line_even') %>">
  <h4><%= review.user_id %>, says</h4>

  <p>
    <b>Review:</b>
    <%= review.body %>
  </p>

</div>  <!--End review-wrap-->