<div class="middle-wrap">
  <p>Browse through product by category</p>
  <% @categories.each do |category| %>
      <div class="cat-entry">
        <h3><%= link_to category.title, category %></h3>
      </div>
      <!--End entry-->
  <% end %>
</div><!--End middle wrap-->

<div class="right-side">
  <%= render 'products/recent_products' %>
</div>
<!--end right-side-->