<% if notice %>
    <p id="notice"><%= notice %></p>
<% end %>

<div class="store">
  <p>Browse through product by category</p>
  <% @categories.each do |category| %>
      <div class="entry">
        <h3><%= link_to category.title, category %></h3>
      </div>
      <!--End entry-->
  <% end %>
</div><!--End store-->