<div class="search-field">
  <%= form_tag products_path, :method => 'get' do %>
      <p><%= text_field_tag :search, params[:search], :class => 'search-box', :placeholder => "Search..."
 %>
      <%= submit_tag "Search", :title => nil, :class => "btns" %></p>
  <% end %>
</div>